<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  </head>
  <body class="text-white">

      <div class="container-sm">
        <h1 class="text-center mt-5"> APP realizada por Nicolas Oliva</h1>
        <p class="lead">
          El objetivo es mostrar el funcionamiento basico de un sistema de autenticación Two Factor Authentication (2FA) a través de un "One Time Password (TOTP)" 
        </p>

        <div class="row justify-content-center mt-3">
          <div class="col-4">
            <form class="bg-white " action="/signup" method="POST">
              <h1 class="text-dark text-center pt-2 mt-5">Crear Usuario</h1>
              <hr class="style1">
              <div class="form-row d-flex flex-column">
                  <input class="form-control w-50 mx-auto mt-2"  type="text" name="username" placeholder="Usuario">
                  <input class="form-control w-50 mx-auto mt-2"  type="password" name="password" class="form-control" placeholder="Contraseña">
                  <input class="btn btn-dark mx-auto my-2" type="submit" >
              </div>
            </form>
          </div>

          <div class="col-4">
            <form class="bg-white " action="/login1" method="POST">
              <h1 class="text-dark text-center pt-2 mt-5">Iniciar Sesion</h1>
              <hr class="style1">
              <div class="form-row d-flex flex-column">
                  <input class="form-control w-50 mx-auto mt-2"  type="text" name="username" placeholder="Usuario">
                  <input class="form-control w-50 mx-auto mt-2"  type="password" name="password" class="form-control" placeholder="Contraseña">
                  <input class="btn btn-dark mx-auto my-2" type="submit" >
              </div>
            </form>
          </div>

          <% if (mensaje.length > 0) { %>
            <div class="col-8 alert alert-dark text-center mt-4" role="alert"> <h4><%= mensaje %></h4></div>
          <% } %>
        </div>
      </div>
  </body>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</html>
